<button routerLink="/add-todo" className="position-absolute top-0 end-0 m-2 btn btn-primary rounded-circle shadow-sm">
    &#10010;
</button>

<ul *ngFor="let todo of todos" class="list-group">
    <li class="list-group-item ">
        <div class="d-flex justify-content-between align-items-center">
            <a [routerLink]="[todo.id]" [ngClass]='todo.done === 1 ? "text-decoration-line-through" : "link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"'>
                <h2  >{{todo.title}}</h2>
            </a>
            <input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo.id)" [checked]="todo.done">
        </div>
        <p>{{todo.description}}</p>
    </li>
</ul>